<div>
    <form method="POST" action="">
        <div class="form-group">
            <label for="search">Profile search</label>
            <input type="text" name="q" class="form-control" id="search" placeholder="Key Words">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>